body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: green;
    color: white;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: auto;
}

.container {
    display: flex;
    flex: 1;
}

.left-column,
.right-column {
    background-color: white;
    padding: 1em;
    width: 20%;
}

main {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: #F0F0F6;
}

.left-column {
    order: -1;
    background-color: #FFFFFF;
    text-align: center;
    min-width: 150px;
    max-width: 250px;
}

.right-column {
    order: 1;
    background-color: #FAFAFA;
    text-align: center;
    min-width: 90px;
    max-width: 90px;
}

/*Customização de perfil*/
.profile-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    width: 150px;
    height: 150px;
    top: 50px;
    left: 74px;
    border-radius: 50%;
}

.profile-status {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 16px;
    width: 16px;
    background-color: #7EB942;
    border-radius: 50%;
}

.profile-name,
.profile-profession {
    top: 231px;
    left: 77px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.profile-profession {
    font-size: 15px;
    color: #767676;
}

.profile-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
}

.profile-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile-key-info {
    background-color: #FFB400;
    text-align: start;
    font-size: 15px;
    color: #2B2B2B;
}

.profile-value-info,
.profile-value-info-green {
    text-align: end;
    font-size: 15px;
    color: #2B2B2B;
}

.profile-value-info-green {
    color: #7EB942;
}

/*Customização do idioma*/
.progress-container {
    width: 100%;
    background-color: #F0F0F6;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar {
    height: 5px;
    background-color: #FFB400;
    border-radius: 5px;
    width: 0;
    transition: width 0.3s;
}

.skills-key-info {
    color: #767676;
    background-color: white;
}

.skills-value-info {
    color: #767676;
}

.title {
    text-align: start;
    font-size: 18px;
    color: #2B2B2B;
}

/* Habilidades extras*/
.extra-skills,
.plan-features {
    display: flex;
    align-items: center;
    gap: 5px;
}

.extra-skills-text,
.plan-features-text {
    font-size: 15px;
    color: #767676;
}

/*Botão de CSV*/
.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB400;
    color: #2B2B2B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    gap: 10px;
}

.button .text {
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.button .icon {
    width: 14px;
    height: 16px;
}


/*----------MENU DIREITO-----------*/

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F0F0F6;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.circle .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.circle:hover {
    background-color: #FFB400;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

/*----------CORPO DO SITE-----------*/
/*Meus serviços*/
.square-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.square-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.square,
.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 145px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.square svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.square h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #2B2B2B;
}

.square p,
.subtitle {
    font-size: 14px;
    color: #767676;
}

.order-now {
    text-decoration: none;
    color: #FFB400;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.3s ease;
}

.order-now:active {
    color: #ff8800;
}

.main-title {
    font-size: 32px;
    color: #2B2B2B;
}

/*Price Plans*/

.rectangle {
    width: 210px;
    height: 600px;
}

.price {
    font-size: 32px;
    color: #2B2B2B;
    font-weight: bold;
}

.hour {
    font-size: 15px;
    color: #2B2B2B;
}

.plan-features-container {
    align-items: start;
    justify-items: start;
}