body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: start;
    justify-items: start;
}

.header-svg {
    z-index: -1;
    width: 800px;
}

.header-container, .header-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.header-content {
    position: absolute;
    top: 20%;
    transform: translateX(-70%);
    z-index: 1;
    width: 500px;
}

.highlight {
    color: #FFB400;
}

.header-title, .header-subtitle {
    text-align: start;
    font-size: 38px;
    margin: 0px 0;
}

.header-subtitle {
    font-size: 15px;
}

.header-right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: auto;
    right: 30px;
}

footer {
    background-color: white;
    color: #2B2B2B;
    text-align: center;
    padding: 1em;
    margin-top: auto;
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex: 1;
}

.left-column,
.right-column {
    background-color: white;
    padding: 1em;
    width: 20%;
    height: 500px;
}

main {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: #F0F0F6;
    margin-right: 150px;
}

.left-column {
    order: -1;
    background-color: white;
    text-align: center;
    min-width: 150px;
    max-width: 250px;
    max-height: 500px;
}

.right-column {
    order: 1;
    background-color: white;
    text-align: center;
    min-width: 90px;
    max-width: 90px; 
    position: fixed; 
    right: 0;      
    top: 0;          
    height: 100%;    
} 

/*Customização de perfil*/
.profile-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    width: 150px;
    height: 150px;
    top: 50px;
    left: 74px;
    border-radius: 50%;
}

.profile-status {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: 16px;
    width: 16px;
    background-color: #7EB942;
    border-radius: 50%;
}

.profile-name,
.profile-profession {
    top: 231px;
    left: 77px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.profile-profession {
    font-size: 15px;
    color: #767676;
}

.profile-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
}

.profile-informations,
.education-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile-key-info,
.education-info-yellow {
    background-color: #FFB400;
    text-align: start;
    font-size: 15px;
    color: #2B2B2B;
}

.profile-value-info,
.profile-value-info-green,
.education-info {
    text-align: end;
    font-size: 13px;
    color: #2B2B2B;
}

.profile-value-info-green {
    color: #7EB942;
}

/*Customização do idioma*/
.progress-container {
    width: 100%;
    background-color: #F0F0F6;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar {
    height: 5px;
    background-color: #FFB400;
    border-radius: 5px;
    width: 0;
    transition: width 0.3s;
}

.skills-key-info {
    color: #767676;
    background-color: white;
}

.skills-value-info {
    color: #767676;
}

.title,
.title-blog {
    text-align: start;
    font-size: 18px;
    color: #2B2B2B;
}

/* Habilidades extras*/
.extra-skills,
.plan-features {
    display: flex;
    align-items: center;
    gap: 5px;
}

.extra-skills-text,
.plan-features-text {
    font-size: 15px;
    color: #767676;
}

/*Botão de CSV*/
.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFB400;
    color: #2B2B2B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    gap: 10px;
}

.button .text {
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.button .icon {
    width: 14px;
    height: 16px;
}

/*----------MENU DIREITO-----------*/

.circle,
.circle-form-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F0F0F6;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #2B2B2B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.circle .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2B2B2B transparent transparent transparent;
}

.circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.circle:hover {
    background-color: #FFB400;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

/*----------CORPO DO SITE-----------*/
/*Meus serviços*/
.square-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.square-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.square,
.rectangle,
.square-recommendation,
.square-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 145px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.square svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.square h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #2B2B2B;
}

.square p,
.subtitle {
    font-size: 14px;
    color: #767676;
}

.order-now,
.learn-more {
    text-decoration: none;
    color: #FFB400;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.3s ease;
}

.order-now:active {
    color: #ff8800;
}

.main-title {
    font-size: 32px;
    color: #2B2B2B;
}

/*Price Plans*/

.rectangle {
    width: 210px;
    height: 617px;
}

.price {
    font-size: 32px;
    color: #2B2B2B;
    font-weight: bold;
}

.hour {
    font-size: 15px;
    color: #2B2B2B;
}

.plan-features-container {
    align-items: start;
    justify-items: start;
}

.order-now-button,
.order-now-button-yellow {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #2B2B2B;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.order-now-button-yellow {
    background-color: #FFB400;
}

.yellow-bar,
.white-bar {
    background-color: #FFB400;
    color: #2B2B2B;
    padding: 6px 0;
    font-size: 15px;
    text-align: center;
    width: 250px;
    box-sizing: border-box;
    bottom: unset;
}

.white-bar {
    background-color: white;
    height: 20px;
}

/*RECOMMENDATIONS*/
.stars {
    color: #FFB400;
    font-size: 25px;
    width: 100%;
}

.recommendation-container {
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 20px;
}

.profile-recommendation {
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

.profile-pic-recommendation {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-text-recommendation {
    font-size: 14px;
    color: #2B2B2B;
}

.square-recommendation {
    height: 250px;
    text-align: left;
    justify-items: start;
}

.title-recommendation {
    font-size: 18px;
    margin: 10px 0;
    color: #2B2B2B;
    text-align: left;
    width: 100%;
}

.text-recommendation {
    font-size: 12px;
    color: #2B2B2B;
    margin: 10px 0;
    text-align: left;
}

.profile-recommendation-info {
    text-align: left;
}

.carousel-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #FFB400;
    border-radius: 50%;
}

/*EDUCATION*/

.education-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 150px;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.column-education-extended,
.column-education {
    text-align: left;
    padding-left: 60px;

    display: grid;
    grid-template-columns: 1fr;
}

.column-education {
    width: 25%;
    text-align: start;
    padding-left: 30px;
    align-self: start;
}

.education-title {
    font-size: 15px;
    text-align: left;
}

.education-text {
    font-size: 14px;
    color: #2B2B2B;
}

.education-info-yellow {
    color: white;
    font-size: 13px;
}

.education-info {
    font-size: 13px;
}

/*PORTFOLIO*/

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-right: 20px;
    font-size: 18px;
    color: #2B2B2B;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.word:hover {
    color: #FFB400;
}

.square-portfolio {
    width: 210px;
    height: 210px;
    overflow: hidden;
    position: relative;
}

.square img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.overlay-portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFB400;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*BLOG*/

.square-blog-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.square-blog {
    width: 310px;
    height: 474px;
    overflow: hidden;
    position: relative;
}

.square-blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content {
    padding: 10px;
    background-color: white;
    align-items: start;
    text-align: left;
}

.description {
    font-size: 14px;
    margin-bottom: 15px;
    color: #767676;
    align-items: start;
    text-align: left;
}

.learn-more {
    font-size: 18px;
    align-items: start;
}

.title-blog {
    font-size: 15px;
    text-align: left;
}

/*FORMULÁRIO*/
.form-container, .form-column-data {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.form-column,
.form-column-data {
    width: 60%;
    justify-content: left;
    align-items: left;
    text-align: left;
    justify-items: center;
    padding: 10px;
}

.form-column-data {
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

form {
    padding: 20px;
    background-color: white;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    padding-right: 0px;
    background-color: #F0F0F6;
    margin-bottom: 15px;
    border: 0px;
}

form textarea {
    height: 210px;
}

.form-square {
    width: 95%;
    height: 150px;
    background-color: white;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    padding: 10px;
}

.circle-form-image {
    display: flex;
    background-color: #FFB400;
    margin: 0 auto;
}

.form-data {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.label {
    text-align: left;
    color: #767676;
    font-size: 18px;
}

.value {
    text-align: right;
    color: #767676;
    font-size: 15px;
}

/*MAPA*/
.map-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 300px;
    border: 0px;
    padding-top: 50px;
}

/*LOGO*/

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/*MODAL PARA AS IMAGENS*/
.gallery-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*utils*/
.redirect-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    transition: background-color 0.3s;
}